.container {
  color: white;
  height: 100%;
  width: 100%;
  background-color: black;
}

.title {
  font-size: 2em;
}

.scrollContainer {
  width: 80%;
  overflow-x: hidden;
  height: max-content;
}

.scroller {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 160em;
  animation: 10s linear infinite scrollBy;
}

.scrollItem {
  min-width: max-content;
  text-align: center;
}

@keyframes scrollBy {
  from {
    left: 0em;
  }
  to {
    left: -80em;
  }
}
