* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#__next,
body {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* main small screen */

/* masks */

.mask {
  position: absolute;
  background-color: black;
}

.mask-left {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 100%;
}

.mask-right {
  top: 0px;
  right: 0px;
  width: 40px;
  height: 100%;
}

.mask-top {
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
}

.mask-bottom {
  bottom: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
}

/* containers */

.fillContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  color: white;
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 1.5em;
  overflow: hidden;
}

.title {
  font-size: 2em;
}

.scrollContainer {
  width: 100%;
  overflow-x: hidden;
}

.scroller {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 120em;
  animation: 10s linear infinite scroll;
}

.scrollItem {
  min-width: max-content;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}

.linkContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.linkRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.link {
  all: unset;
  color: gray;
  cursor: pointer;
}

.medium {
  font-size: 1.5em;
}

.link:hover {
  color: white;
}

.copyText {
  transition: color 250ms ease-in-out;
  margin-left: auto;
}
