.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.player {
  width: 640px;
  height: 360px;
  outline: 4px solid white;
  margin: auto;
  overflow: hidden;
  flex: none;
}

@media (max-width: 640px) {
  .player {
    transform: rotate(90deg);
  }
}
