.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.player {
  width: 640px;
  height: 360px;
  outline: 4px solid white;
  overflow: hidden;
  flex: none;
}
